# build output
dist/

# package-lock file
package-lock.json

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production


# vscode folder
.vscode/

# obsidian files
**/.obsidian/workspace*
**/.obsidian/cache
**/.obsidian/graph.json
**/.obsidian/types*
**/.obsidian/canvas.json
**/.obsidian/webviewer.json
**/.obsidian/daily-notes.json
