---
import Base from "../../layouts/Base.astro";
import Heading from "../../components/Heading.astro";
import PostList from "../../components/PostList.astro";

import { getCollection } from "astro:content";

let allPosts = await getCollection("posts");
let pinnedPosts = allPosts.filter((post) => post.data.pinned);
let unPinnedPosts = allPosts.filter((post) => !post.data.pinned);
// sort posts by pubDate descending
pinnedPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<Base>
    <Heading Title="Posts" />
    <h2>> pinned posts</h2>
    <PostList allPosts={pinnedPosts} />
    <h2>> all posts</h2>
    <PostList allPosts={allPosts} />
</Base>
