a {
    text-decoration: underline;
    color: lightskyblue
}

.astro-code {
    padding: 1rem;
    border-radius: 8px;
}

.markdown-body img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}