---
import Base from "../layouts/Base.astro";
import TagList from "../components/Tag_List.astro";
---

<Base>
    <div>
        <h1>blog.</h1>
    </div>
    <section id="tags">
        <h1>tags</h1>
        <TagList />
    </section>
</Base>
