---
import "../styles/global.css";

const { Title } = Astro.props;
---

<h1 class="main-title">{Title}</h1>
<style>
    .main-tiltle {
        margin-top: 0;
        color: var(--color-header-text);
</style>