---
import "../styles/global.css";

import LinkedInIcon from "../assets/icons/linkedin.svg";
import GithubIcon from "../assets/icons/github.svg";

const current = Astro.url.pathname; // current route

const wrap_func = (path: string) => {
    if (path === "/") {
        return current === path ? "[ blog. ]" : "blog.";
    }
    return current === (path + "/") ? `[ ${path.slice(1)} ]` : path.slice(1);
};
---

<header>
    <div class="container">
        <a href="/" class="title">{wrap_func("/")}</a>
        <nav class="links">
            <a href="/projects">
                {wrap_func("/projects")}
            </a>
            <a href="/posts">
                {wrap_func("/posts")}
            </a>
            <a href="/tags">
                {wrap_func("/tags")}
            </a>
            <a href="/about">
                {wrap_func("/about")}
            </a>
        </nav>
        <nav class="social-container">
            <a
                class="social-entry"
                href="https://github.com/anukindipa"
                target="_blank"
                aria-label="GitHub Profile"
            >
                <GithubIcon class="social-image" />
            </a>
            <a
                class="social-entry"
                href="https://www.linkedin.com/in/anuk-indipa-gamage-28728a314/"
                target="_blank"
                aria-label="LinkedIn Profile"
            >
                <LinkedInIcon class="social-image" />
            </a>
        </nav>
    </div>
</header>

<style>
    .container {
        padding: 2rem 2rem 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
        font-size: 1.2rem;
        gap: 5rem;
    }

    /* link to home */
    .title {
        text-decoration: none;
        color: var(--color-header-text);
        /* font-size: 1.4rem;*/
        font-weight: 600;
    }

    /* links to other pages */
    .links {
        display: flex;
        gap: 1rem;
    }

    .links a {
        text-decoration: none;
        color: var(--color-header-text);
        opacity: 0.8;
    }

    /* social icons */
    .social-container {
        display: flex;
        gap: 1rem;
    }
    .social-image {
        width: 20px;
        height: 20px;
        opacity: 0.8;
        padding right: 0.5rem;
    }

    .title:hover,
    .links a:hover{
        color: var(--color-header-hover);
        opacity: 1;
    }
    .social-image:hover{
        fill: var(--color-header-hover);
        opacity: 1;
    }

    @media (max-width: 700px) {
        .container {
            flex-wrap: wrap; /* allow items to break into new rows */
            row-gap: 1rem;
        }
    }
</style>
